*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:rgb(0, 0, 0, 0.5);
}

.navbar-brand{
    height: 40px;
    padding-left: 30px;
}
.container a{
    color: white!important;
}
.navbar-nav li{
    padding: 0 10px;
    color: white;
}
.navbar-nav li a{
    float: right;
    text-align: right;
    color: white;
}
#nav-bar ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(175, 14, 14);
    display: block;
    margin: auto;
    color: white;
    transition: 0.5s;
}
#nav-bar ul li a:hover::after{
    width: 100%;
    color: white!important;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    font-weight: 600;
    font-size: 16px;
}
.header img{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: white;
    font-family: "arial",sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    margin-top: 17%;
}
.hero-btn{
    display: inline-block;
    text-decoration:none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 1px solid #FFB548;
    padding: 15px 60px;
    font-size: 15px;
    background: #FFB548;
    position: relative;
    margin-top: 4%;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid black;
    background: black;
    text-decoration: white;
    color: white;
    transition: 1s;
}
.text-box h3{
    margin-top: 4%;
}
.text-box h4{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10%;
}
.caret-down{
    position: absolute;
    width: 20.25px;
    height: 8.17px;
    left: 49.49%;
    top: 91%;

}
/* About */

.about img{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.text h3{
    position: absolute;
    left: 5.7%;
    right: 76.09%;
    top: 130.48%;
    bottom: 100.64%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}
.text h1{
    position: absolute;
    left: 5.7%;
    right: 76.09%;
    top: 134.48%;
    bottom: 100.64%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}
#carouselExampleIndicators{
    width: 858px;
    height: 500px;
    left: 530px;
    top: 1000px;
    position: absolute;
}
.carousel-item img{
    width: 858px;
    height: 500px;
}

/* Features */

.features img{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.feature-text{
    position: absolute;
    left: 53.52%;
    right: 20.29%;
    top: 225.96%;
    bottom: 70.16%;
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}
.content h3{
    position: absolute;
    width: 348.2px;
    height: 38.23px;
    left: 809.29px;
    top: 245%;
    color: #FFB548;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
}
.content p{
    position: absolute;
    left: 55.44%;
    right: 16.42%;
    top: 250.32%;
    bottom: 41.58%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: white;
}
.content h4{
    position: absolute;
    width: 366.44px;
    height: 38.23px;
    left: 842.04px;
    top: 263%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}
.content h5{
    position: absolute;
    width: 348.2px;
    height: 38.23px;
    left: 842.04px;
    top: 273%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}
.line0{
    position: absolute;
    width: 141.03px;
    height: 0px;
    fill: white;
    left: 750.42px;
    top: 2019.51px;
    border: 1.95955px solid #FFFFFF;
    transform: rotate(90deg);
}
.ball{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 812.62px;
    top: 1940.91px;
}
.hollow1{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 812.62px;
    top: 2083.91px;
}
.hollow2{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 812.62px;
    top: 2160.91px;
}

/* System Requirements */

.req{
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%),url(Images/requirements.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative; 
}
.req h3{
    position: absolute;
    left: 39.27%;
    right: 36.26%;
    top: 9.12%;
    bottom: 82%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color:rgb(255, 255, 255);
}
.req h1{
    position: absolute;
    height: 73.64px;
    left: 9.02%;
    right: 47.07%;
    top: 15%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
}


/* TOP SCORES */

.top-scores{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(Images/top-score-bg.png);
}




/* NEWSLETTER */

.newsletter{
    background-image: url(Images/newsletter.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.facebook{
    position: absolute;
    width: 9.23px;
    height: 18.99px;
    left: 1076.52px;
    top: 81.8%;
}
.twitter{
    position: absolute;
    width: 21.01px;
    height: 16px;
    left: 1142.21px;
    top: 81.8%;
}
.youtube{
    position: absolute;
    left: 79.66%;
    right: 13.61%;
    top: 81.8%;
    bottom: 59.15%;
}
.twitch{
    position: absolute;
    left: 84.5%;
    right: 9.03%;
    top: 81.8%;
    bottom: 61.9%;
}


